<a href="https://colab.research.google.com/github/Satwikram/NLP-Implementations/blob/main/Q%26A%20on%20Tabular%20Dataset.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
! git clone https://github.com/google-research/tapas.git

Cloning into 'tapas'...
remote: Enumerating objects: 582, done.
remote: Counting objects: 100% (140/140), done.
remote: Compressing objects: 100% (112/112), done.
remote: Total 582 (delta 42), reused 104 (delta 28), pack-reused 442
Receiving objects: 100% (582/582), 619.76 KiB | 6.66 MiB/s, done.
Resolving deltas: 100% (318/318), done.

In [ ]:
! pip install ./tapas

In [ ]:
! gsutil cp gs://tapas_models/2020_04_21/tapas_sqa_base.zip . && unzip tapas_sqa_base.zip

In [2]:
!pip install python-docx

Successfully installed python-docx-0.8.11

In [3]:
import pandas as pd
import docx
import spacy
from docx import Document
import unicodedata
from pathlib import Path

In [4]:
import tensorflow.compat.v1 as tf
import os 
import shutil
import csv
import pandas as pd
import IPython

tf.get_logger().setLevel('ERROR')

In [5]:
from tapas.utils import tf_example_utils
from tapas.protos import interaction_pb2
from tapas.utils import number_annotation_utils
from tapas.scripts import prediction_utils

In [6]:
os.makedirs('results/sqa/tf_examples', exist_ok=True)
os.makedirs('results/sqa/model', exist_ok=True)
with open('results/sqa/model/checkpoint', 'w') as f:
  f.write('model_checkpoint_path: "model.ckpt-0"')
for suffix in ['.data-00000-of-00001', '.index', '.meta']:
  shutil.copyfile(f'tapas_sqa_base/model.ckpt{suffix}', f'results/sqa/model/model.ckpt-0{suffix}')

In [5]:
def getTableData(filename):

    document = Document(filename)

    table = document.tables[0]

    data = []

    keys = None
    for i, row in enumerate(table.rows):
        text = (cell.text for cell in row.cells)

        if i == 0:
            keys = tuple(text)
            continue
        row_data = dict(zip(keys, text))
        data.append(row_data)

    df = pd.DataFrame(data)

    #csv_file = Path(filename).stem+".csv"

    #df.to_csv(str(csv_file))

    return df

In [27]:
df = pd.read_csv('/content/data.csv')

In [28]:
df = df.astype(str)

In [29]:
list_of_list = [[]]
list_of_list[0] = list(df.columns)
list_of_list.extend(df.values.tolist())

In [30]:
list_of_list

[['Pos',
  'Player',
  'Team',
  'Span',
  'Innings',
  'Runs',
  'Highest Score',
  'Average',
  'Strike Rate'],
 ['1',
  'Sachin Tendulkar',
  'India',
  '1989-2012',
  '452',
  '18426',
  '200',
  '44.83',
  '86.23'],
 ['2',
  'Kumar Sangakkara',
  'Sri Lanka',
  '2000-2015',
  '380',
  '14234',
  '169',
  '41.98',
  '78.86'],
 ['3',
  'Ricky Ponting',
  'Australia',
  '1995-2012',
  '365',
  '13704',
  '164',
  '42.03',
  '80.39'],
 ['4',
  'Sanath Jayasuriya',
  'Sri Lanka',
  '1989-2011',
  '433',
  '13430',
  '189',
  '32.36',
  '91.2'],
 ['5',
  'Mahela Jayawardene',
  'Sri Lanka',
  '1998-2015',
  '418',
  '12650',
  '144',
  '33.37',
  '78.96'],
 ['6',
  'Virat Kohli',
  'India',
  '2008-2020',
  '236',
  '11867',
  '183',
  '59.85',
  '93.39'],
 ['7',
  'Inzamam-ul-Haq',
  'Pakistan',
  '1991-2007',
  '350',
  '11739',
  '137',
  '39.52',
  '74.24'],
 ['8',
  'Jacques Kallis',
  'South Africa',
  '1996-2014',
  '314',
  '11579',
  '139',
  '44.36',
  '72.89'],
 ['9',
  'Saurav Ganguly',
  'India',
  '1992-2007',
  '300',
  '11363',
  '183',
  '41.02',
  '73.7'],
 ['10',
  'Rahul Dravid',
  'India',
  '1996-2011',
  '318',
  '10889',
  '153',
  '39.16',
  '71.24']]

In [34]:
max_seq_length = 512
vocab_file = "tapas_sqa_base/vocab.txt"
config = tf_example_utils.ClassifierConversionConfig(
    vocab_file=vocab_file,
    max_seq_length=max_seq_length,
    max_column_id=max_seq_length,
    max_row_id=max_seq_length,
    strip_column_names=False,
    add_aggregation_candidates=False,
)
converter = tf_example_utils.ToClassifierTensorflowExample(config)

def convert_interactions_to_examples(tables_and_queries):
  """Calls Tapas converter to convert interaction to example."""
  for idx, (table, queries) in enumerate(tables_and_queries):
    interaction = interaction_pb2.Interaction()
    for position, query in enumerate(queries):
      question = interaction.questions.add()
      question.original_text = query
      question.id = f"{idx}-0_{position}"
    for header in table[0]:
      interaction.table.columns.add().text = header
    for line in table[1:]:
      row = interaction.table.rows.add()
      for cell in line:
        row.cells.add().text = cell
    number_annotation_utils.add_numeric_values(interaction)
    for i in range(len(interaction.questions)):
      try:
        yield converter.convert(interaction, i)
      except ValueError as e:
        print(f"Can't convert interaction: {interaction.id} error: {e}")
        
def write_tf_example(filename, examples):
  with tf.io.TFRecordWriter(filename) as writer:
    for example in examples:
      writer.write(example.SerializeToString())

def predict(table_data, queries):
  table = table_data
  examples = convert_interactions_to_examples([(table, queries)])
  write_tf_example("results/sqa/tf_examples/test.tfrecord", examples)
  write_tf_example("results/sqa/tf_examples/random-split-1-dev.tfrecord", [])
  
  ! python tapas/tapas/run_task_main.py \
    --task="SQA" \
    --output_dir="results" \
    --noloop_predict \
    --test_batch_size={len(queries)} \
    --tapas_verbosity="ERROR" \
    --compression_type= \
    --init_checkpoint="tapas_sqa_base/model.ckpt" \
    --bert_config_file="tapas_sqa_base/bert_config.json" \
    --mode="predict" 2> error


  results_path = "results/sqa/model/test_sequence.tsv"
  all_coordinates = []
  df = pd.DataFrame(table[1:], columns=table[0])
  display(IPython.display.HTML(df.to_html(index=False)))
  print()
  with open(results_path) as csvfile:
    reader = csv.DictReader(csvfile, delimiter='\t')
    for row in reader:
      coordinates = prediction_utils.parse_coordinates(row["answer_coordinates"])
      all_coordinates.append(coordinates)
      answers = ', '.join([table[row + 1][col] for row, col in coordinates])
      position = int(row['position'])
      print(">", queries[position])
      print(answers)
  return all_coordinates

In [35]:
df

  Pos              Player          Team  ... Highest Score Average Strike Rate
0   1    Sachin Tendulkar         India  ...           200   44.83       86.23
1   2    Kumar Sangakkara     Sri Lanka  ...           169   41.98       78.86
2   3       Ricky Ponting     Australia  ...           164   42.03       80.39
3   4   Sanath Jayasuriya     Sri Lanka  ...           189   32.36        91.2
4   5  Mahela Jayawardene     Sri Lanka  ...           144   33.37       78.96
5   6         Virat Kohli         India  ...           183   59.85       93.39
6   7      Inzamam-ul-Haq      Pakistan  ...           137   39.52       74.24
7   8      Jacques Kallis  South Africa  ...           139   44.36       72.89
8   9      Saurav Ganguly         India  ...           183   41.02        73.7
9  10        Rahul Dravid         India  ...           153   39.16       71.24

[10 rows x 9 columns]

In [ ]:
result = predict(list_of_list, ["What is Total runs scored by Virat Kholi"])

In [ ]:
!python --version